.main_container{
    margin-top: 70px;
}
.add_address{
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.add_address_head{
    text-align: center;
    color: #000;
    font-weight: bold;
}
.add_more_address{
    text-align: center;
}
.field-address-user_id label{
    display: none;
}